* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.employee-dashoboard {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../assets/fbg.gif');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  color: white;
  /* padding: 0px 0px; */
  min-height: 100vh;
}

.employee {
  width: 100%;
  max-width: 750px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  /* backdrop-filter: blur(50px); */
  /* margin: 0px; */
  border-radius: 4px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.radio-label {
  position: relative;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 18px;
}

.radio-input {
  display: none;
}

.custom-radio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #3ac5d7;
  background: white;
  transition: background 0.3s;
}

.radio-input:checked+.custom-radio {
  background: #22a690;
}

.radio-input:checked+.custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3ab0b5;
  transform: translate(-50%, -50%);
}

.selecttable {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  background-color: #aed3d0;
}

.selecttable {
  width: 200px;
  margin-top: 5px;
}

.queuefetchbtn {
  background-color: #aed3d0;
  border: none;
  outline: none;
  padding: 6px 8px;
  font-size: 19px;
  font-weight: 450;
  border-radius: 5px;
}

.table-container {
  width: 98%;
  margin: 30px auto;
  text-align: center;
  overflow: auto;
}

.table-container table {
  width: 100%;
  color: black;
}

.table-container table,
tr,
td {
  padding: 10px;
  font-size: 18px;
  transition: transform 0.3s ease;
}

.table-container tr:nth-child(odd) {
  background-color: #aed3d0;
}

.table-container tr:nth-child(even) {
  background-color: #ffffff;
}

.user-details-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: aliceblue;
}

.user-details-card button {
  position: absolute;
  right: 8px;
  top: 8px;
}

.notify {
  border: 1px solid;
  padding: 8px;
  position: absolute;
  top: 25px;
  font-size: 12px;
  width: 90%;
}


.user-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;
  margin: 0px auto;
  color: black;
}

.user-card:hover {
  background-color: #e9ecef;
}

.user-card {
  background-color: #fff;
  transition: transform 0.2s;
}

.user-card:hover {
  transform: scale(1.02);
}

.user-card-header {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}