*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(56, 116, 120); 
    color: white;
    font-size: 20px;
    /* position: absolute;
    bottom: 0; */
}