.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(56, 116, 120); 
    color: white;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    z-index: 200;
}
.rightnavbar a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.rightnavbar i{
    margin: 0px 8px;
    font-size: 18px;
    color: rgb(255, 255, 255);

}
